@page
@model WEB.Pages.UserManager.MyTransactions.IndexModel
@{
}
<h1 class="mb-4">Manager Transaction</h1>
@* <div class="mb-3">
    <form id="filterForm" method="GET" asp-page-handler="Filter">
        <input type="text" class="form-control" placeholder="Search" id="searchInput" />
        <select id="statusSelect" asp-for="@Model.SelectedStatus" name="SelectedStatus">
            <option value="">-- Select Status --</option>
            @foreach (var status in Model.StatusList)
            {
                <option value="@status">@status</option>
            }
        </select>
        <button type="submit" class="btn btn-primary mt-2">Apply Filters</button>
    </form>
</div> *@



<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="bg-success text-white">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Buyer
                </th>
                <th>
                    Saler
                </th>
                <th>
                    Status
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyList)
            {
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Buyer.Username
                    </td>
                    <td>
                        @item.Seller.Username
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.StatusName)
                    </td>
                    @if (ViewBag.U.UserId == @item.Buyer.UserId)
                    {
                        <td class="text-danger">
                            - @item.Amount
                        </td>
                    }
                    else
                    {
                        <td class="text-success">
                            + @item.Amount
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tfoot class="bg-secondary text-white">
            <tr>
                <td colspan="3">Total:</td>
                <td colspan="2">@ViewData["total"]</td>
            </tr>
            <tr>
                <td colspan="3">Total of Successful:</td>
                <td colspan="2">@ViewData["totalSuccess"]</td>
            </tr>
    </table>
</div>
@* <div class="d-md-table-cell d-md-block">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-page="./Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
 *@