@page
@model WEB.Pages.CheckOutModel
@{
}
<style>
    body {
        padding-top: 20px;
        background-color: #f8f9fa;
    }

    .info-card {
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

        .info-card h3 {
            border-bottom: 2px solid #007bff;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .info-card .card-text {
            margin-bottom: 5px;
        }

    .form-row {
        align-items: flex-end;
    }

    .form-check-inline {
        margin-right: 20px;
    }
    /* CSS */
    .address-bg-1 {
        background-color: #f8f9fa;
    }

    .address-bg-2 {
        background-color: #e9ecef;
    }

    /* Add more classes for additional background colors if needed */

</style>
<div class="container">
    <!-- Shipped Info -->
    <div class="form-row">
        <div class="col-md-12">
            <h3>Choose a Shipped Address</h3>
            <div class="row">
                @foreach (var item in Model.UserShippeds)
                {
                    <div class="row bg-gradient">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="shippedAddress" id="address1" value="address1">
                            <label class="form-check-label" for="address1">@item.AddressLine1., @item.AddressLine2, @item.City, @item.Country, @item.PostalCode</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Customer Info -->
        <div class="col-md-6">
            <form method="post">
                <input name="pId" value="@Model.Product.ProductId" hidden/>
                <input name="uId" value="@Model.Product.UserId" hidden/>

                <input name="p" value="@Model.Product.Price" hidden/>

                <div class="info-card">
                    <h3>Customer Information</h3>
                    <p class="card-text">
                        <strong>Customer Name:</strong> <input type="text" class="form-control" placeholder="Enter customer name">
                    </p>
                    <p class="card-text">
                        <strong>Address Line 1:</strong> <input asp-for="@Model.Shipped.AddressLine1" class="form-control" placeholder="Enter address line 1" required>
                    </p>
                    <p class="card-text">
                        <strong>Address Line 2:</strong> <input asp-for="@Model.Shipped.AddressLine2" class="form-control" placeholder="Enter address line 2" required>
                    </p>
                    <p class="card-text">
                        <strong>City:</strong> <input asp-for="@Model.Shipped.City" class="form-control" placeholder="Enter city" required>
                    </p>
                    <p class="card-text">
                        <strong>State:</strong> <input asp-for="@Model.Shipped.State" class="form-control" placeholder="Enter state" required>
                    </p>
                    <p class="card-text">
                        <strong>Country:</strong> <input asp-for="@Model.Shipped.Country" class="form-control" placeholder="Enter country" required>
                    </p>
                    <p class="card-text">
                        <strong>Postal Code:</strong> <input asp-for="@Model.Shipped.PostalCode" class="form-control" placeholder="Enter postal code" required>
                    </p>
                    <button type="submit" class="btn btn-warning">Pay now</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="info-card">
            <h3>Product Information</h3>
            <table class="table">
                <tbody>
                <tr>
                    <th>Product Name:</th>
                    <td>@Model.Product.Name</td>
                </tr>
                <tr>
                    <th>Images:</th>
                    <td>
                        <img src="@Model.Product.ProductImages.FirstOrDefault().ImageUrl" style="width: 30%; height:30%;"/>
                    </td>
                </tr>
                <tr>
                    <th>Price:</th>
                    <td>@DataAccess.ViewModel.FormatViewModel.GetFormatVND(Model.Product.Price) VND</td>
                </tr>
                <tr>
                    <th>Saller:</th>
                    <td>
                        @Model.Product.User.Username
                    </td>
                </tr>
                <tr>
                    <th>Date Added:</th>
                    <td>
                        <input type="text" class="form-control" placeholder="Enter date added" value="@DateTime.Now" readonly>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="2">Shipping Fee: 25.0000 VND</th>
                </tr>
                <tr>
                    <th colspan="2">Platform Fee: 10,0000 VND</th>
                </tr>
                <tr>
                    <th colspan="2">Total: @DataAccess.ViewModel.FormatViewModel.GetFormatVND(Model.Product.Price + 10000 + 25000) VND</th>
                </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>