@page
@model WEB.Pages.Admin.ManagerFinanciTransaction.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FinancialTransaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialTransaction.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinancialTransaction.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FinancialTransaction?.TransactionId">Edit</a> |
    <a asp-page="/Admin/Index">Back to List</a>
</div>
